<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/styles/common.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <!-- content -->
      <main class="content">
        <h1 class="text-5xl content-title">Tooltip</h1>

        <div class="box-wrapper" grid-xs="3">
          <!-- defaults -->
          <section class="box-section">
            <h2 class="text-4xl box-section-title">Tooltip Default</h2>
            <div class="box-section-cont">
              <button class="dp-button" size="md" variant="contained">
                Tooltip
              </button>
              <!-- tooltip -->
              <div
                class="dp-tooltip dp-tooltip-container use-in-guide"
                variant="plain"
              >
                Plain tooltip
              </div>
              <!--// tooltip -->
              <!-- tooltip -->
              <div
                class="dp-tooltip dp-tooltip-container use-in-guide"
                variant="rich"
              >
                <h3 class="dp-tooltip-subhead">Tooltip sub head</h3>
                <p class="dp-tooltip-cont">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                  et praesentium ut dolore sapiente? Enim quisquam
                  necessitatibus eaque tempora, sapiente consequatur, alias in
                  dolorum quo ea vel consequuntur est repudiandae?
                </p>
                <button class="dp-button" size="xs" variant="text">
                  button
                </button>
              </div>
              <!--// tooltip -->
            </div>
          </section>
          <!--// defaults -->
          <!-- Show / Hide -->
          <section class="box-section">
            <h2 class="text-4xl box-section-title">Tooltip Show / Hide</h2>
            <div class="box-section-cont">
              <dp-tooltip
                size="md"
                label="Tooltip"
                isrich="true"
                title="Tooltip Component"
                content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis veritatis reprehenderit eveniet excepturi, nulla obcaecati cumque quibusdam earum! Odit quasi accusantium placeat accusamus natus iure eius labore quaerat ducimus sed!"
                isclickable="true"
              ></dp-tooltip>
              <dp-tooltip
                size="md"
                label="Tooltip plain"
                title="Tooltip"
                isclickable="true"
              ></dp-tooltip>
              <dp-tooltip
                size="md"
                label="Tooltip plain"
                title="Tooltip"
              ></dp-tooltip>
              <dp-tooltip
                size="md"
                label="Tooltip Rich"
                isrich="true"
                title="Tooltip Component"
                content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis veritatis reprehenderit eveniet excepturi, nulla obcaecati cumque quibusdam earum! Odit quasi accusantium placeat accusamus natus iure eius labore quaerat ducimus sed!"
              ></dp-tooltip>
            </div>
          </section>
          <!--// Show / Hide -->
          <!-- Show / Hide -->
          <section class="box-section">
            <h2 class="text-4xl box-section-title">Tooltip Arrow / Origin</h2>
            <div class="box-section-cont" id="plain"></div>
            <div class="box-section-cont" id="rich"></div>
          </section>
          <!--// Show / Hide -->
        </div>
      </main>
      <!--// content -->
    </div>
    <script src="../../resources/js/components/tooltip.js"></script>
    <script src="../../resources/js/components/compdata.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        DrawTooltip("plain");
        DrawTooltip("rich", true);
      });
    </script>
  </body>
</html>
