/**
create components
TODO: [ ] Accordion
TODO: [ ] Alert - Sticky
TODO: [ ] Avatar
TODO: [ ] Badge 
TODO: [ ] Button
TODO: [ ] Button group    
TODO: [ ] Callout
TODO: [ ] Checkbox +  Radio
TODO: [ ] Chip
TODO: [ ] Date Picker
TODO: [ ] Input text
TODO: [ ] Input group
TODO: [ ] Input dropdown  /  Dropdown
TODO: [ ] Link
TODO: [ ] List/Data row
TODO: [ ] Modal
TODO: [ ] Notification - Inline
TODO: [ ] Overlay
TODO: [ ] Popover
TODO: [ ] Progress - Bar/Circle
TODO: [ ] Slider
TODO: [ ] Status
TODO: [ ] Tab
TODO: [ ] Dropdown menu
TODO: [ ] Textarea
TODO: [ ] Toast
TODO: [ ] Toggle
TODO: [ ] Tooltip
TODO: [ ] File upload
TODO: [ ] Pagination
TODO: [ ] Progress steps
TODO: [ ] Skeleton loader
TODO: [ ] Table
TODO: [ ] Templates
*/

@import url(component/avatarr.css);
@import url(component/icons.css);
@import url(component/buttons.css);
@import url(component/buttonGroups.css);
@import url(component/forms.css);
@import url(component/accordion.css);
@import url(component/alert.css);
@import url(component/callout.css);
@import url(component/badge.css);
@import url(component/chip.css);
@import url(component/toast.css);
