/* input */
.checkbox {
  position: absolute;
  left: -999em;
  top: -999em;
  visibility: hidden;
  opacity: 0;
}
.checkbox + .label-checkbox {
  display: flex;
  align-items: center;
  column-gap: 4px;
  padding: 4px 8px;
  border-radius: var(--bdrxs);
  background: var(--gray60);
  color: var(--white);
  border-radius: var(--bdrxs);
  transition: width 0.35s;
  cursor: pointer;
}
.checkbox:checked + .label-checkbox {
  background: var(--pointColor);
}
/* header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background: var(--pointColor);
}
.header .header-title {
  color: var(--white);
}
.header .header-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--white);
  column-gap: 4px;
}
.header .header-info li {
  display: flex;
  align-items: center;
  column-gap: 4px;
  font-size: 12px;
}
.header .header-info li:before {
  content: "";
  width: 1px;
  height: 12px;
  display: block;
  background: var(--gray40);
}
.header .header-info li:first-of-type:before {
  display: none;
}

.header .status-info li {
  margin-top: auto;
}
.status-bar-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  row-gap: 8px;
  align-items: flex-end;
}
.status-bar-wrapper strong {
  margin-top: auto;
}
.status-bar-tit {
  font-size: 20px;
}
.status-bar {
  overflow: hidden;
  position: relative;
  width: 150px;
  height: 10px;
  border-radius: var(--bdrmd);
  background: var(--gray40);
  box-shadow: inset 0 5px 5px var(--gray60);
}
.status-bar .status-bar-inner {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--enabled);
  border-top-right-radius: var(--bdrxs);
  border-bottom-right-radius: var(--bdrxs);
  transition: width 0.15s 0.35s;
}

/* status legend */
.box-status-legend {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 8px;
}
.box-status-legend .tit-status {
  margin: 0;
  font-size: 12px;
}
.box-status-legend .list-status {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 10px;
  font-weight: bold;
}
.item-status {
  display: flex;
  align-items: center;
  column-gap: 4px;
  padding: 4px 8px;
  color: var(--white);
  border-radius: var(--bdrxs);
}
.box-status-legend .reported-date {
  margin-right: auto;
  font-size: 12px;
  font-weight: bold;
}
.todo {
  background: var(--gray80);
}
.on-track {
  background: var(--normal);
}
.done {
  background: var(--enabled);
}
.at-risk {
  background: var(--warning);
}
.high-risk {
  background: var(--critical);
}

/* box-status-util */
.box-status-util {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-top: 16px;
}
.status-checkbox {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.filter-status ul {
  display: flex;
  align-items: center;
  font-size: 10px;
  column-gap: 4px;
}
.filter-status li {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.filter-status .checkbox:checked + .label-checkbox.on-track {
  background: var(--normal);
}
.filter-status .checkbox:checked + .label-checkbox.at-risk {
  background: var(--warning);
}
.filter-status .checkbox:checked + .label-checkbox.high-risk {
  background: var(--critical);
}

/* table */
.table {
  width: 100%;
}
.table {
  border-collapse: collapse;
  background-color: var(--white);
  font-size: 12px;
}

.table thead {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--gray40);
  text-align: center;
}
.table td.txt-left {
  text-align: left;
}

.table th {
  padding: 8px;
  text-align: center;
  border-top: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
  color: var(--black);
}

.table tbody tr:hover {
  background-color: var(--gray20);
  cursor: pointer;
}

.table .status-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
}
.table .status {
  display: inline-flex;
  width: 10px;
  height: 10px;
  border-radius: var(--bdrfull);
}

.page-list {
  margin-top: 16px;
}
