<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/styles/common.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <!-- content -->
      <main class="content">
        <h1 class="text-x4l">Accordions</h1>
        <div class="box-wrapper" grid-xs="4">
          <section class="box-section">
            <h2 class="text-x4l box-section-title">Accordion Default</h2>
            <div class="box-section-cont">
              <!-- accordion -->
              <div class="accordion is-expand">
                <div class="accordion-header">
                  <span class="accordion-header-title">Accordion</span>
                  <button type="button" class="accordion-header-button">
                    열기/닫기
                  </button>
                </div>
                <div class="accordion-content">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Consequuntur aut possimus nulla quod quas nam amet quibusdam,
                  deserunt nobis labore necessitatibus, aperiam quaerat officia
                  repellendus magnam dolorum facere harum fugit. Eos eius harum
                  omnis qui voluptate tempore culpa enim dolorem cupiditate
                  porro explicabo modi consequuntur magni, odit, facilis maiores
                  suscipit quae? Mollitia assumenda nam minus impedit, deleniti
                  excepturi voluptatum veniam? Voluptatibus, earum nihil error
                  quos animi molestias a delectus voluptatum, consequatur fuga
                  nobis ipsa fugit? Ut eum, necessitatibus, fugiat obcaecati ad
                  distinctio est architecto beatae praesentium repellat,
                  molestias amet adipisci! Id dolor quidem ullam magni vero
                  delectus expedita nostrum laborum impedit voluptates itaque
                  accusamus iusto, ipsam omnis quas error inventore eum
                  perferendis repellat eaque fugit? Architecto officia
                  perspiciatis ipsa consequatur.
                </div>
              </div>
            </div>
            <!--// accordion -->
          </section>
          <section class="box-section">
            <h2 class="text-x4l box-section-title">Accordion Flat</h2>
            <div class="box-section-cont">
              <!-- accordion -->
              <div class="accordion accordion-flat">
                <div class="accordion-header">
                  <span class="accordion-header-title">Accordion</span>
                  <button type="button" class="accordion-header-button">
                    열기/닫기
                  </button>
                </div>
                <div class="accordion-content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Ipsum, expedita neque. Voluptatem inventore cumque nam veniam
                  quod, beatae eaque aut ducimus repellat nobis officiis atque
                  omnis voluptatum velit ipsa eligendi! Ex eveniet laudantium
                  autem quas. In, ratione officiis sint quas quia quis facere ea
                  ducimus id, totam praesentium impedit, aperiam voluptate
                  asperiores amet! Excepturi aut libero ex culpa, repudiandae
                  provident?
                </div>
              </div>
            </div>
            <!--// accordion -->
          </section>
          <section class="box-section">
            <h2 class="text-x4l box-section-title">Accordion Default</h2>
            <div class="box-section-cont">
              <!-- accordion -->
              <div class="accordion is-expand is-disabled">
                <div class="accordion-header">
                  <span class="accordion-header-title">Accordion</span>
                  <button type="button" class="accordion-header-button">
                    열기/닫기
                  </button>
                </div>
                <div class="accordion-content">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Consequuntur aut possimus nulla quod quas nam amet quibusdam,
                  deserunt nobis labore necessitatibus, aperiam quaerat officia
                  repellendus magnam dolorum facere harum fugit. Eos eius harum
                  omnis qui voluptate tempore culpa enim dolorem cupiditate
                  porro explicabo modi consequuntur magni, odit, facilis maiores
                  suscipit quae? Mollitia assumenda nam minus impedit, deleniti
                  excepturi voluptatum veniam? Voluptatibus, earum nihil error
                  quos animi molestias a delectus voluptatum, consequatur fuga
                  nobis ipsa fugit? Ut eum, necessitatibus, fugiat obcaecati ad
                  distinctio est architecto beatae praesentium repellat,
                  molestias amet adipisci! Id dolor quidem ullam magni vero
                  delectus expedita nostrum laborum impedit voluptates itaque
                  accusamus iusto, ipsam omnis quas error inventore eum
                  perferendis repellat eaque fugit? Architecto officia
                  perspiciatis ipsa consequatur.
                </div>
              </div>
            </div>
            <!--// accordion -->
          </section>
          <section class="box-section">
            <h2 class="text-x4l box-section-title">Accordion Flat</h2>
            <div class="box-section-cont">
              <!-- accordion -->
              <div class="accordion accordion-flat is-disabled">
                <div class="accordion-header">
                  <span class="accordion-header-title">Accordion</span>
                  <button type="button" class="accordion-header-button">
                    열기/닫기
                  </button>
                </div>
                <div class="accordion-content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Ipsum, expedita neque. Voluptatem inventore cumque nam veniam
                  quod, beatae eaque aut ducimus repellat nobis officiis atque
                  omnis voluptatum velit ipsa eligendi! Ex eveniet laudantium
                  autem quas. In, ratione officiis sint quas quia quis facere ea
                  ducimus id, totam praesentium impedit, aperiam voluptate
                  asperiores amet! Excepturi aut libero ex culpa, repudiandae
                  provident?
                </div>
              </div>
            </div>
            <!--// accordion -->
          </section>
          <!-- wep component -->
          <section class="sec-boxtion">
            <h2 class="text-x4l box-section-title">Accordion Web Component</h2>
            <dp-accordion
              acc-title="DP Accordion"
              acc-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ipsum, expedita neque. Voluptatem inventore cumque nam veniam
            quod, beatae eaque aut ducimus repellat nobis officiis atque
            omnis voluptatum velit ipsa eligendi! Ex eveniet laudantium
            autem quas. In, ratione officiis sint quas quia quis facere ea
            ducimus id, totam praesentium impedit, aperiam voluptate
            asperiores amet! Excepturi aut libero ex culpa, repudiandae
            provident?"
            />
          </section>
          <section class="sec-boxtion">
            <h2 class="text-x4l box-section-title">
              Accordion Flast Web Component
            </h2>
            <dp-accordion
              acc-title="DP Accordion"
              acc-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ipsum, expedita neque. Voluptatem inventore cumque nam veniam
            quod, beatae eaque aut ducimus repellat nobis officiis atque
            omnis voluptatum velit ipsa eligendi! Ex eveniet laudantium
            autem quas. In, ratione officiis sint quas quia quis facere ea
            ducimus id, totam praesentium impedit, aperiam voluptate
            asperiores amet! Excepturi aut libero ex culpa, repudiandae
            provident?"
              acc-isflat="true"
            />
          </section>
          <section class="sec-boxtion">
            <h2 class="text-x4l box-section-title">Accordion Web Component</h2>
            <dp-accordion
              acc-title="DP Accordion"
              acc-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ipsum, expedita neque. Voluptatem inventore cumque nam veniam
            quod, beatae eaque aut ducimus repellat nobis officiis atque
            omnis voluptatum velit ipsa eligendi! Ex eveniet laudantium
            autem quas. In, ratione officiis sint quas quia quis facere ea
            ducimus id, totam praesentium impedit, aperiam voluptate
            asperiores amet! Excepturi aut libero ex culpa, repudiandae
            provident?"
              acc-isDisable="true"
            />
          </section>
          <section class="sec-boxtion">
            <h2 class="text-x4l box-section-title">
              Accordion Flast Web Component
            </h2>
            <dp-accordion
              acc-title="DP Accordion"
              acc-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ipsum, expedita neque. Voluptatem inventore cumque nam veniam
            quod, beatae eaque aut ducimus repellat nobis officiis atque
            omnis voluptatum velit ipsa eligendi! Ex eveniet laudantium
            autem quas. In, ratione officiis sint quas quia quis facere ea
            ducimus id, totam praesentium impedit, aperiam voluptate
            asperiores amet! Excepturi aut libero ex culpa, repudiandae
            provident?"
              acc-isflat="true"
              acc-isDisable="true"
              acc-isExpand="true"
            />
          </section>
          <!-- wep component -->
        </div>
      </main>
      <!--// content -->
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    <script src="../../resources/js/components/accordion.js"></script>
    <script>
      $(function () {
        handleAccordion();
      });
    </script>
    <script>
      function handleAccordion() {
        var component = document.querySelectorAll(".accordion");
        component.forEach(function (item) {
          var handler = item.querySelector(".accordion-header-button");
          handler.addEventListener("click", function (e) {
            if (!item.classList.contains("is-disabled")) {
              item.classList.toggle("is-expand");
            }
          });
        });
      }
    </script>
  </body>
</html>
